@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 700;
  src: url("./SFPRO_bold.OTF");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 500;
  src: url("./SFPRO_medium.OTF");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 400;
  src: url("./SFPRO_normal.OTF");
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 100;
  src: url("./SFPRO_thin.ttf");
}
