@import '../../styles/zoom.scss';

.ItemInfo {
	font-family: 'Montserrat';
	color: #dde4ff;
	width: 270px;
	height: 379px;
	background: rgba(18, 19, 28, 0.76);
	padding: 15px;

	.header {
		display: flex;
		align-items: center;
		section {
			position: relative;
			width: 67px;
			height: 67px;
			background: radial-gradient(50% 50% at 50% 50%, rgba(178, 239, 48, 0.22) 0%, rgba(60, 85, 7, 0.62) 100%);
			border: 2px solid #b2ef30;
			box-shadow: 0px 0px 27px rgba(178, 239, 48, 0.25);
			display: flex;
			align-items: center;
			img {
				object-fit: none;
				width: 60px;
				height: 60px;
			}
		}
		div {
			margin-left: 22px;
			h1 {
				font-weight: 600;
				font-size: 16px;
			}
			p {
				display: flex;
				justify-content: space-between;
				font-weight: 500;
				font-size: 13px;
			}
		}
	}
	.info {
		margin-top: 17px;
		h1 {
			position: relative;
			margin-bottom: 7px;
			line-height: 16px;
			font-weight: 600;
			font-size: 15px;
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				right: 5px;
				width: px(130);
				height: px(1);
				background: #ffffff0d;
			}
		}
		p {
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			font-weight: 500;
			font-size: 13px;
			color: rgba(221, 228, 255, 0.55);
			span {
				color: #b2ef30;
			}
		}
	}
	.footer {
		margin-top: 9px;

		h1 {
			position: relative;

			margin-bottom: 11px;
			line-height: 16px;
			font-weight: 600;
			font-size: 15px;
			&::after {
				position: absolute;
				content: '';
				top: 50%;
				right: 5px;
				width: px(100);
				height: px(1);
				background: #ffffff0d;
			}
		}
		button {
			margin-bottom: 5px;
			width: 234px;
			height: 36px;
			background: rgba(178, 239, 48, 0.25);
			/* Обводка кнопки */

			border: 1px solid #b2ef30;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			color: white;
			transition: 0.2s;
			&:hover {
				background: #b2ef30;
				color: black;
			}
		}
	}
}
